body {
    magin:0;
    padding:0;
    font-family: Maven Pro; 
}

main {
    background: #333;
}

main header {

     margin: 0 0 0 20px;
     font-family: Gilda Display;
    font-size: 20px;
    padding: 20px;
    padding-top 10px;
    color: white;
    letter-spacing: 2px; 
    text-align: center;
    margin:0; 
    
}

main h1 p {
    margin-top: -20px;
    font-size: 10px;
}

#Header {
    text-align: center;
    
}

#Text {
    text-align: center; 
    display: block; 
}

main header p {
    margin-top: 0px; 
    font-size: 10px;
    text-align: center; 
    padding: 0; 
    margin-bottom: ; 
}

main nav list {
    style-typ: none;
}

main nav {
    text-align: right; 
    color: white; 
    font-family: Gilda;
    padding: 1px 1px; 
    border-color: white;
    list-style: none;
    margin-top: -30px; 
}

body section {
      background-color: white;
      text-align: center; 

}

body section img {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    width: 50%; height;
    border-radius: 5px; 
}

body section h1 {
    font-family: Gilda;
    text-align: center; 
    margin-top: -4px;
}

body section p {
    font-family: Gilda;
    text-align: center; 
    margin-top: -25px; 
}